.element__numder-likes {
    margin: 0;
    max-width: 24px;
    margin-right: 5px;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}