.profile-info {
    margin-right: auto;
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 16px 18px;
    align-items: center;
}

@media (max-width: 730px) {
    .profile-info {
        margin: 0 0 36px;
        gap: 10px 14px;
    }
    
}