.profile__button {
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: 2px solid rgba(255, 255, 255, 1);
    background-image: url(../../../images/Vector_x.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity 1s ease-in-out;
}

.profile__button:hover {
    opacity: .6;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url(../../../images/Vector_x.png);
    cursor: pointer;
}

@media (max-width: 730px) {
    .profile__button {
        width: 282px;
        background-size: 16px 16px;
    }
}