.popup__content {
    max-width: 358px;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 34px 36px 37px;
}

@media (max-width: 730px) {
    .popup__content {
        max-width: 238px;
        width: 100%;
        padding: 25px 22px;
    }

}