.element__delete {
    display: none;
    width: 18px;
    height: 19px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-image: url(../../../images/Trash.svg);
    background-size: 18px 19px;
    position: absolute;
    top: 18px;
    left: 249px;
    transition: opacity 1s ease-in-out;
    /*position: relative;*/
    z-index: 2;
}

.element__delete:hover {
    /*position: relative;
    z-index: 3;*/
    opacity: .6;
    cursor: pointer;
}