.profile-info__text {
    margin: 0;
    max-width: 336px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    grid-column: 1 / span 2;
    grid-row: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 450px) {
    .profile-info__text {
        max-width: 190px;
        font-size: 14px;
        line-height: 17px;
    }
}