.header {
    margin: 0 auto 40px;
    padding-top: 45px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.75);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 450px) {
    .header {
        margin: 0 auto 40px;
        padding-top: 28px;        
    }
}

